// You custom settings file to override Foundation defaults
@import "settings";
//the rest of foundation
@import "foundation";

//the compass modules
@import "compass/typography/text/replacement";
@import "compass/utilities/color/contrast";
@import "compass/css3/images";

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home Page
:: Pricing Page
:: Gallery Page
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

//@include sticky-footer(72px, "#container", "#container_footer", "footer"

body {
  background-color: #e6e5e5;
  @include background-image(radial-gradient(50% 50%, #e6e5e5, #4f4f4f));
}

.content-holder {
  width: $rowWidth;
  max-width: 100%;
  //min-width: $screenSmall;
  margin: 0 auto;
  @include background-image(image-url('lashes-bg.png'));
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.75);
}

header {
  h1 {
    @include replace-text('title-text.png');
    background-size: 95% 95%;
    height: ms(10);
  }
  hgroup {
    @include replace-text('other-text-500.png');
    height: ms(10);
    background-size: 95% 95%;
  }
}

nav {
  ul.block-grid.three-up {
    margin: 0;
    background-color: $mainColor;
    li {
      text-align: center;
      padding: 5px;
      a {
        @include contrasted($mainColor);
        font-weight: bold;
      }

    }
  }
}

footer {
  .row{
    padding: ms(2);
    background-color: $mainColor;
    .vcard {
      float: right;
      font-size: ms(1);
    }
  }
}


/* -----------------------------------------
   Home Page
----------------------------------------- */

section.main {
  //padding-bottom: ms(2);
  article {
    .text {
      ul {
        list-style-position: inside;
        li {
          font-size: ms(2);
        }
      }
    }
  }
  article#contact {
    text-align: center;
    p {
      font-size: ms(2);
    }
  }
  article#introduction {
    p {
      font-size: ms(2);
    }
  }
}



/* -----------------------------------------
   Pricing Page
----------------------------------------- */

/* -----------------------------------------
   Gallery Page
----------------------------------------- */