// You custom settings file to override Foundation defaults
@import "settings";
//the rest of foundation
@import "foundation";

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home Page
:: Pricing Page
:: Gallery Page
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  background-color: #e9dba5;
  @include background-image(radial-gradient(50% 50%, #e9dba5, #f8eec7));
}

.container {
  @include outerRow();
  background-color: #fff;
  background-color: rgba(255,255,255,0.75);
}

header {
  @include outerRow();
  h1 {
    @include column(6);
  }
  hgroup {
    @include column(6);
  }
}

nav {
  @include outerRow();
  .nav-bar {
    @include column(4);
    @include push(8);
    margin-top: 0;
    margin-bottom: 0;
    background-color: $mainColor;
  }
}

footer {
  @include outerRow();
  padding: ms(2);
  background-color: $mainColor;
  .vcard {
    float: right;
  }
}


/* -----------------------------------------
   Home Page
----------------------------------------- */

section.main {
  padding-bottom: ms(2);
  article {
    @include outerRow();
    header {
      @include column(12)
    }
    img {
      @include column(3);
    }
    .text {
      @include column(9);
      ul {
        list-style-position: inside;
        li {
          font-size: ms(2);
        }
      }
      dd {
        font-size: ms(2);
      }
    }
  }
  article#what_to_expect {
    img {
      @include push(9);
    }
    .text {
      @include pull(3);
    }
  }
  article#introduction {
    p {
      @include column(12);
      font-size: ms(2);
    }
  }
}



/* -----------------------------------------
   Pricing Page
----------------------------------------- */

/* -----------------------------------------
   Gallery Page
----------------------------------------- */