:css
  img {
     position: absolute;
     top: 40%;
     left: 50%;
     width: 500px;
     height: 500px;
     margin-top: -250px; /* Half the height */
     margin-left: -250px; /* Half the width */
  }
  #page-wrap {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    list-style-position: inside;
  }
#page-wrap
  %h1 Not found <span>:(</span>
  <p>Sorry, but the page you were trying to view does not exist.</p>
  <p>It looks like this was the result of either:</p>
  <ul>
  <li>a mistyped address</li>
  <li>an out-of-date link</li>
  </ul>
  <script>
  var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
  </script>
  <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>