%article#goodbye_brush
  .row
    .twelve.columns
      %header
        %h2 Say Goodbye to that Mascara Brush & say Hello to:
  .row
    .five.columns.hide-for-small
      = image_tag 'photo-wide_03.png', :width => '440'
    .seven.columns
      .text
        %ul
          %li Longer, thicker natural lashes
          %li Enhance curvature
          %li Define Eye shape and length
          %li Weightless and natural looking
          %li Always customised to each individual client