%article#goodbye_brush
  .row
    .twelve.columns
      %header
        %h2 Say Goodbye to that Mascara Brush & say Hello to:
  .row
    .three.columns.hide-for-small
      = image_tag 'photo1.jpeg', :width => '220'
    .nine.columns
      .text
        %ul
          %li Longer, thicker natural lashes
          %li Enhance curvature
          %li Define Eye shape and length
          %li Weightless and natural looking
          %li Always customised to each individual client