%article#introduction
  .row
    .twelve.columns
      %header
        %h3 Welcome to Eye Define Beauty, a boutique salon located near Chadstone shopping centre.
        %p We are specialists in eyelash extensions, and pride ourselves on our individual service, expertise, and continual client satisfaction.