%article.pricing
  .row
    .twelve.columns
      %h2 Pricing
  .row
    .six.columns
      .price-plan
        %h2 Party Set
        %h3 30 lashes per eye
        %a(href="#")
          .price
            .inside
              %span.super $
              %span.amt 50
          .info
            %p Lashes are fanned onto outer eye to lengthen and open the appearance of the eye shape.
    .six.columns
      .price-plan
        %h2 Natural Set
        %h3 50 lashes per eye
        %a(href="#")
          .price
            .inside
              %span.super $
              %span.amt 100
          .info
            %p
              Creates an elegant and subtle overall look with the appearance of 2 to 3 coats of mascara.
  .row
    .six.columns
      .price-plan
        %h2 Full Set
        %h3 80 lashes per eye
        %a(href="#")
          .price
            .inside
              %span.super $
              %span.amt 130
            .label
              #most-popular
                %p OUR MOST
                %p POPULAR
                %p SET!
          .info
            %p
              Stunning longer, fuller lashes while still maintaining a natural look. Creates a bigger more open eye.
    .six.columns
      .price-plan
        %h2 Glam Set
        %h3 100 lashes per eye
        %a(href="#")
          .price
            .inside
              %span.super $
              %span.amt 180
            .label
              #wow-factor
                %p WOW
                %p FACTOR!
          .info
            %p
              Creates gorgeous longer, fuller and larger than life eyes, be the envy of all your friends.

%article.pricing
  .row
    .twelve.columns
      %h2 Refills
  .row
    .four.columns
      .price-plan
        %h3 2-weekly
        .price
          .inside
            %span.super $
            %span.amt 60
    .four.columns
      .price-plan
        %h3 3-weekly
        .price
          .inside
            %span.super $
            %span.amt 70
    .four.columns
      .price-plan
        %h3 4-weekly
        .price
          .inside
            %span.super $
            %span.amt 80

