#hcard-Joanne-Francis.vcard
  %span.fn Joanne Francis
  .org Eye Define Beauty
  .role Eyelash Extension Specialist
  .adr
    %span.locality Chadstone
    ,
    %span.region VIC
    %span.country-name Australia
  .tel Ph: 0488 052 272
  .email eyedefinebeauty@gmail.com