%article#what_to_expect
  .row
    .twelve.columns
      %header
        %h2 What to Expect:
  .row
    .three.columns.hide-for-small
      = image_tag 'photo2.jpeg', :width => '220'
    .nine.columns
      .text
        %ul
          %li We use synthetic single strand eyelash extensions that replicate your natural lash.
          %li They are available in various thicknesses, lengths and curvatures
          %li Feel like your own natural lash
          %li Painless, relaxing application
          %li Allow 1.5hrs for first full set