%article#why_wait
  .row
    .twelve.columns
      %header
        %h2 What are you waiting for ... ?
        %h3 Are you ready for those WOW! eye turning stunning lashes & be the envy of all your friends?