%article#why_wait
  .row
    .twelve.columns
      %header
        %h2 What are you waiting for ... ?
        %h3 Are you ready for the lashes you have always dreamed of! Be the envy of all your friends and get the WOW factor now......