:css
  img {
     position: absolute;
     top: 40%;
     left: 50%;
     width: 500px;
     height: 500px;
     margin-top: -250px; /* Half the height */
     margin-left: -250px; /* Half the width */
  }
  #page-wrap {
    text-align: center;
    width: 800px;
    margin: 0 auto;
  }

#page-wrap
  %h1 New web site coming soon!
  %h1 Boutique salon located near Chadstone Shopping Centre

  = image_tag 'eye_define_bc_page1.svg'
