- @active_tab = 'dd#contact-tab'
- @page_desc = "Contact information for Eye Define Beauty eyelash extension specialists."

%article#contact
  .row
    .twelve.columns
      %header
        %h2 Contact Details
  .row.text
    .twelve.columns
      = partial 'vcard'