%section.main
  %article#intro
    %header
      %h2 Some sub heading
    = image_tag lorem.image('350x350')
    .text
      %p
        = lorem.paragraphs 4

  %article#what_to_expect
    %header
      %h2 Some sub heading
    = image_tag lorem.image('350x350')
    .text
      %p
        = lorem.paragraphs 4

