%section.main
  %article#introduction
    .row
      .twelve.columns
        %header
          %h3 Welcome to Eye Define Beauty, a Boutique salon located near Chadstone Shopping Centre.
          %p We are specialists in Eyelash Extensions, and pride ourselves on our individual service, expertise, and continual client satisfaction.

  = partial 'goodbye-brush'

  = partial 'what-to-expect'

  %article#why_wait
    .row
      .twelve.columns
        %header
          %h2 What are you waiting for ... ?
          %h3 Are you ready for those WOW! eye turning stunning lashes & be the envy of all your friends?

  %article#contact
    .row
      .twelve.columns
        %header
          %h2 Contact Details
    .row.text
      .twelve.columns
        %p Ph : 0488 052 272
        %p E-mail : eyedefinebeauty@gmail.com


