- @active_tab = 'dd#who-gets-lashes-tab'
- @page_title = 'Who gets lashes?'
- @page_desc = "Who gets lashes and why."

%article.who-gets-lashes
  .row
    .twelve.columns
      %header
        %h2 Who gets lashes?
  .row
    .three.columns.hide-for-small
      = image_tag 'photo_03.png'
    .nine.columns
      .text
        %ul
          %li Great for time poor ladies who want one less stress in the morning.
          %li Overseas travelers, not having to worry about that mascara brush while on holiday.
          %li Brides and bridal parties for a more defined look for that very special day.
          %li Any special function or party that you require a little extra glam.
          %li Or just because you can. Get the WOW factor now and turn a few heads.